.feed{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-row-gap: 30px;
    grid-column-gap:15px ;
    margin-top: 15px;
}

.card img{
    width: 100%;
    border-radius: 8px;
}

.card h2{
    font-size: 16px;
    font-weight: 600;
    color: black;
    margin: 5px 0px;
}

.card h3{
    font-size: 14px;
    font-weight: 600;
    color: #555;
    margin: 6px 0;
}

.card p{
    font-size: 14px;
}