nav{
    width: 100%;
    padding: 10px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    position: sticky;
    top:0;
    z-index:10;
}

.nav-left .menu-icon{
     margin-right: 25px;
     width: 25px;
     cursor: pointer;
     transition: transform 0.2s ease;
}

.nav-left .menu-icon:hover{
     transform: scale(1.1);
     filter: invert(18%) sepia(97%) saturate(7176%) hue-rotate(359deg) brightness(101%) contrast(110%);
}

.nav-left .logo{
    width: 130px;
}

.nav-middle .search-box{
    border: 1px solid #ccc;
    margin: 0 15px;
    padding: 8px 12px;
    border-radius: 25px;
}

.nav-middle .search-box input{
    width: 400px;
    border: 0;
    outline: 0;
    background: transparent;
}

.nav-middle .search-box img{
    width: 15px;
}

.nav-right{
 gap:20px;
}

.nav-right img{
    width: 30px;
}

.nav-right .user-icon{
    width: 35px;
    border-radius: 50%;
}