.sidebar{
    background-color: #fff;
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    padding-left: 2%;
    padding-top: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    transition: all 0.3s ease;
}

.sidebar.close{
    margin-left: -15%;
}

.sidebar.open{
    margin-left: 0;
}

.shortcut-links img{
    width: 20px;
    margin-right: 20px;
}

.shortcut-links .active img{
    transform: scale(1.1);
    filter: invert(18%) sepia(97%) saturate(7176%) hue-rotate(359deg) brightness(101%) contrast(110%);
}

.side-links{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
    cursor: pointer;
}

.sidebar hr{
    border: 0 ;
    height: 1px;
    background-color: #ccc;
    width: 85%;
}

.subscribed-list h3{
    font-size: 20px;
    margin: 20px 0;
    color:#5a5a5a
}

.subscribed-list img{
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
}
/* 
.side-links .active img{
    border-bottom: 3px solid red;
} */